.table {
  border-collapse: collapse;
  width: 100%;
}

.table th,
.table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center; 
  input {
    border-radius: 5px;
    text-align: center;
  }
}

.table th {
  background-color: #104777;
  color: white;
}
